certifi==2021.5.30
cffi==1.14.6
charset-normalizer==2.0.4
cryptography==3.4.7
dnspython==1.16.0
idna==3.2
mysql==0.0.3
mysql-connector==2.2.9
mysql-connector-python==8.0.25
mysqlclient==2.0.3
numpy==1.21.1
protobuf==3.17.3
pycparser==2.20
pymongo==3.12.0
pyotp==2.6.0
python-dotenv==0.19.0
requests==2.26.0
robin-stocks==2.0.4
six==1.16.0
urllib3==1.26.6
